29 22 * * 0 /root/radiko.sh QRR 31 2>&1 | tee /tmp/cron.log
59 23 * * 1 /root/rec.sh 61 "yonayona-monday" 2>&1 | tee /tmp/cron.log
59 23 * * 2 /root/rec.sh 61 "yonayona-tuesday" 2>&1 | tee /tmp/cron.log
59 23 * * 4 /root/rec.sh 61 "yonayona-thursday" 2>&1 | tee /tmp/cron.log
29 19 * * 6 /root/rec.sh 31 "toshitai" 2>&1 | tee /tmp/cron.log
59 1 * * 0 /root/radiko.sh QRR 31 2>&1 | tee /tmp/cron.log


