# melody flag & petit miradio
59 21 * * 0 /root/radiko.sh QRR 61 2>&1 | tee -a /tmp/cron.log 
# popolon
59 1 * * 0 /root/radiko.sh QRR 31 2>&1 | tee -a /tmp/cron.log

29 23 * * 2 /root/rec.sh 31 "toshitai" 2>&1 | tee -a /tmp/cron.log
59 18 * * 2 /root/rec.sh 31 "himitsuno" 2>&1 | tee -a /tmp/cron.log

